* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ------------------------------ */
/* Common */
.width-100 {width: 200px;}
.width-180 {width: 180px;}
.width-250 {width: 250px;}
.width-125 { width: 125px;}
.fl-right {float: right;}
.ma-lr-20 {margin: 0 20px;}
.col-half {
    width: 50%;
    float: left;
}

/* ------------------------------ */
/* ============================== */
#main {position: relative;}

/* ------------------------------ */
/* Header */
#header {
    font-family: 'Roboto', sans-serif;
    z-index: 3;
    height: 50px;
    width: 100%;
    position: fixed;
    text-align: center;
    transition: 0.5s ease;
}

.no-top {
    font-family: 'Roboto', sans-serif;
    z-index: 3;
    height: 50px;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: #000;
    box-shadow: 0px 0px 5px 5px rgba( 0, 0, 0, 0.4);
    transition: 0.5s ease;
}
.top ul {border-bottom: 1px solid #555555;}

#header .nav {
    height: 50px;
    padding: 0;
    display: inline-block;
}

#header .nav li {
    display: inline-block;
    list-style-type: none;
    height: 100%;
}

#header li:hover {
    color: #eee;
    cursor: pointer;
}

#header li a {
    text-transform: uppercase;
    text-decoration: none;
    /* line-height: 34px; */
    padding-top: 16px;
    margin: 0px 10px;
    display: block;
}

ul li a {color: #000;}
.no-top li a {color: #474747;}

#header li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: transparent;
    transition:  .3s ease, .3s ease;
}

#header li:hover a::after {
    width: 100%;
    background-color: #eee;
}

#header li:hover a{color: #eee;}

/* ------------------------------ */
/* Slider */
#slider {
    padding-top: 56.25%;
    background: url(../images/back-ground/1145991.jpg) top no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

#slider::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000, #88888800, #afafaf00);
}

#slider .text-content {
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    position: absolute;
    top: 30%;
    width: 600px;
    color: #fff;
    left: 100px;
}

#slider .text-heading {
    font-size: 46px;
    margin-bottom: 20px;
}

#slider .text-heading span {color: #fda23f;}
#slider .text-desc {margin: 0px 0px 20px;}

#slider .btn {
    padding: 16px 0px;
    background-color: rgba( 0, 0, 0, 0);
    border: none;
    background-color: #5f5d5d;
    border-radius: 4px;
    transition: 0.2s ease;
}

#slider .btn:hover {
    background-color: #9d999c;
    cursor: pointer;
}

#slider .btn a {
    font-size: 16px;
    color: #fff;
    padding: 16px 30px;
    text-decoration: none;
}

/* ------------------------------ */
/* Content */

/* ------------------------------ */
/* Search */
#search {padding-top: 70px;}
#search .container {
    max-width: 900px;
    margin: auto;
}

#search .search-content {
    padding: 40px 20px;
    border-radius: 4px;
    background-color: #f8f9fb;
    box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.2);
}

#search-inventory {
    display: flex;
    justify-content: space-between;
}

#search .search-heading {
    color: #444a57;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: 500;
    letter-spacing: 2px;
}

#search .choose {
    display: inline-block;
    font-size: 14px;
    height: 45px;
    padding: 10px 15px;
    margin: 0px 10px;
    border: #000 solid 1px ;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.6);
    background-color: #f2f2f2;
    border: 0px;
}

#search .choose p {line-height: 25px;}
#search .choose i {
    font-size: 16px;
    line-height: 25px;
}

#search .search-btn {
    background-color: #3232c4dd;
    color: #fff;
    padding: 10px 13px;
}

#search .search-btn i {font-size: 14px;}
#search .search-btn:hover {cursor: pointer;}

/* ------------------------------ */
/* Service */
#service {
    padding: 112px 0 120px;
    color: rgba(0, 0, 0, 0.7);
}

#service .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#service .section-header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#service .section-header h2 {
    font-size: 36px;
    padding-bottom: 20px;
    position: relative;
    font-weight: 500;
}

#service .section-header h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 2px;
    background-color: #3030ae;
}

#service .service-content {padding-top: 96px;}
#service .service-content::after {
    content: "";
    display: block;
    clear: both;
}

#service .service-single {
    float: left;
    width: 33.33333%;
    padding: 0px 8px;
}

#service .service-box {
    border: 1px solid #dadfe9;
    padding: 25px 0px 60px;
    transition: ease 0.6s;
}

#service .service-box:hover {
    background-color: #3030ae;
    color: #fff;
}

#service .service-box-content::after {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    background-color: #3030ae;
}

#service .service-box:hover .service-box-content::after {background-color: #fff;}
#service .service-icon {text-align: center;}

.service-icon [class^="flaticon-"]:before, .service-icon [class*=" flaticon-"]:before,
.service-icon [class^="flaticon-"]:after, .service-icon [class*=" flaticon-"]:after {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.7);
}

#service .service-box:hover .service-icon [class^="flaticon-"]:before,#service .service-box:hover .service-icon [class*=" flaticon-"]:before,
#service .service-box:hover .service-icon [class^="flaticon-"]:after,#service .service-box:hover .service-icon [class*=" flaticon-"]:after {
    color: #fff;
}

#service .service-box-content {
    padding: 10px 10px 35px;
    position: relative;
    text-align: center;
}

#service .service-box-content h3 {
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 500;
}

/* ------------------------------ */
/* Featured Cars */
#featured-cars{
    padding:112px 0 120px;
    color: rgba( 0, 0, 0, 0.7);
    background-color: #f0f1f5;
}

#featured-cars .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#featured-cars .section-header {text-align: center;}
#featured-cars .section-header h2 {
    font-size: 36px;
    padding-bottom: 20px;
    position: relative;
    font-weight: 500;
}

#featured-cars .section-header h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 2px;
    background-color: #3030ae;
}

.featured-cars-content{padding-top:96px;}
.featured-cars-content::after {
    content: "";
    display: block;
    clear: both;
}

.featured-cars-single {
    float: left;
    width: 33.3333%;
    padding: 0px 8px;
}

.featured-img-box {border: 1px solid #dadfe9;}
.featured-cars-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 220px;
    border-bottom: 1px solid #dadfe9;
}

.featured-cars-info{padding:14px 10px;}
.featured-cars-info p {font-size: 14px;}
.featured-cars-info span {margin-right: 8px;}
.featured-cars-text {margin: 12px 0px 40px}

.featured-cars-text h3 a {
    color: rgba( 0, 0, 0, 0.7);
    text-decoration: none;
}
.featured-cars-text h3,
.featured-cars-text h5 {
    color: #444A57;
    font-weight: 500;
    margin-bottom: 10px;
}

.featured-cars-text p {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.5;
}

/* ------------------------------ */
/* Brands */
#brands {
    padding: 112px 0 120px;
}

#brands .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#brands .slider {

}
#brands .slider .slider-list {
    text-align: center;
}

#brands .slider .slider-list::after {
    content: "";
    display: block;
    clear: both;
}

#brands .slider-list .item {
    float: left;
    width: 20%;
}

#brands .slider-list img {
    width: 50%;
}

/* ------------------------------ */
/* Footer */
#footer {
    color: #d1d1d1;
    background-color: #474747;
}

#footer .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#footer .footer-content {padding-top:96px;}

/* Footer Top */
#footer .footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer .footer--info {}

#footer .footer-top p {font-size: 14px;}
#footer h4, #footer h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#footer h4 {font-size: 14px;}
#footer .footer--info li {list-style-type: none;}

#footer .footer--info li a{
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    color: #d1d1d1;
    transition: ease 0.5s;
}

#footer .footer--info li a:hover {
    color: #fff;
    padding-left: 5px;
}

#footer .footer--info .flex {
    display: flex;
    width: 100%;
}

.foot-email {
    position: relative;
    margin-top: 10px;
}

.foot-email-box input::placeholder {
    font-size: 12px;
    color: #dadada;
    line-height: 16px;
}
.foot-email-box .form-control {
    padding: 5px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .4);
    background-color: #848383;
}
.foot-email-sub .arrow-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-email-sub .arrow-right {
    color: #dadada;
    font-size: 10px;
    font-weight: bold;
}

/* Footer Bot */
#footer .footer-bot {
    margin-top: 50px;
    width: 100%;
}

#footer .footer-bot::after {
    content: "";
    display: block;
    clear: both;
}

#footer .footer-bot {border-top: #848383 solid 1px;}

#footer .footer-bot .copyright {
    padding: 10px 0px;
    font-size: 14px;
}

#footer .copyright p {display: inline-block;}

#footer .footer-bot .social {
    padding: 10px 0px;
    float: right;
}

#footer .social a {
    text-decoration: none;
    font-size: 14px;
    color: #dadada;
    padding-left: 10px;
    transition: ease 0.3s;
}

#footer .social a:hover {
    font-size: 16px;
    color: #fff;
}

#footer .social i {padding-left: 10px;}

/* Back to Top */
#back-top {
    position: fixed;
    bottom: 60px;
    right: 90px;
    width: 40px;
    height: 40px;
    /* display: none; */
    color: #444A57;
    background-color: #f1f1f1;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px rgba( 0, 0, 0, 0.4);
    animation-name: backtop;
    animation-duration: 0.8s;
}

@keyframes backtop {
    0% {
        bottom: 20px;
        opacity: 0;
    }
    100% {
        bottom: 60px;
        opacity: 1;
    }
}

#back-top i {
    font-size: 25px;
    position: relative;
    animation-name: up-down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes up-down {
    0% {
        bottom: -12px;
    }
    100% {
        bottom: 0px;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
